.underline-animation {
  position: relative;
  display: inline-block;
}

.underline-animation::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px; /* Épaisseur du soulignement */
  background: #fe895e; /* Couleur du soulignement */
  transform: scaleX(.5);
  transition: transform 0.3s ease;
}

.underline-animation:hover::after {
  transform: scaleX(1);
}