@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lugrasimo&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@845&display=swap');

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";



* {
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
}
.lugrasimo-font {
  font-family: "Lugrasimo", cursive;
}

.merienda-font{
  font-family: "Merienda", cursive;
  font-optical-sizing: auto;
  font-weight: 845;
  font-style: normal;
}

.scroller::-webkit-scrollbar {
  width: 5px;
}
.scroller::-webkit-scrollbar-thumb {
  background-color: #FE895E;
  border-radius: 5px;
  visibility: hidden;
}
.scroller:hover::-webkit-scrollbar-thumb {
  visibility: visible;
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: #FE895E;
  border-radius: 5px;
}

@layer utilities {
  .scroller {
    overflow: auto;
  }
}


.modalRealisation{
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 50;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

} 

.content-modal{
  animation: modal 0.3s ease-out alternate;
}



.img_translate{
  animation: img_translate 3s ease-in-out infinite alternate;
}


@keyframes img_translate {
  from {
    transform: translateT();
  }
  to{
    transform: translateY(-50px);
  }
}

@keyframes modal{
  from{
    transform: scale(0);
  }
  to{
    transform: scale(1);
  }
}